<div class="comment">
  <div class="created_at"><%= comment.created_at.strftime("%B %d, %Y") %></div>
  <div class="content">
    <%= comment.description %>
    <button>Reply</button>
    <div class="reply_form hidden">
      <%= render "comments/form", :locals => { :comment_parent => comment } %>
    </div>
  </div>
</div>
