%div#map_float
  %div#map

%div#panel
  %div#menubar
    %div#panelme
    %div#panelactivities
      %p ACTIVITIES
    %div#panelsearch
      = render 'activities/search'





/ - if current_user.present?
/ = render 'users/show'
/ - if current_user.present?
/ - if current_user.present?
/ /
/ /   = render :partial => 'activities/search'
/ - else
/   %p Sign up to join activities
