@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
}

#container {
  height: 120px;
  width: 320px;
  z-index: 3000;
  position: absolute;
  top: 30px;
  left: 30px;
}

#profilepic {
  float: left;
  height: 120px;
  width: 120px;
  display: inline-block;
  background: white;
}

#ppic {
  height: 120px;
  width: 120px;
}

#actuserpic {
  height: 30px;
  width: 30px;
}

#buttons {
  position: relative;
  float: right;
  width: 200px;
  height: 120px;
}

#button1 {
  display: inline-block;
  float: left;
  height: 58.5px;
  width: 170px;
  margin-left: 3px;
  background: white;
}

#button2 p {
  line-height: 58.5px;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

#button2 {
  display: inline-block;
  float: left;
  margin-top: 3px;
  margin-left: 3px;
  height: 58.5px;
  width: 170px;
  background: white;
}



.hidden {
  display: none;
}

#panel {
  position: absolute;
  left: 30px;
  top: 153px;
  width: 293px;
  height: auto;
  min-height: 100px;
  max-height: 800px;
  overflow: auto;
  background: white;
}

#user_nav {
  z-index: 3000;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

html, body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  // font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#users_show {
  position: absolute;
  left: 5%;
  top: 5%;
}

#search {
  position: absolute;
  height: 58.5px;
  width: 35%;
  bottom: 2%;
  right: 1%;
  z-index: 3000;
  background: white;
  opacity: 0.8;
}

#search input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: none;
  margin-left: 10px;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.3em;
  background: transparent;
  text-transform: uppercase;
}

#search_submit {
  margin-left: -9999px;
}

#menubar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 12.5%;
}

#menubar #panelactivities {
  width: 25%;
  height: 12%;
  position: absolute;
  left: 25%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#menubar #panelactivities p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -0.5em;
  position: relative;
  text-align: center;
  height: 100%;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.comment {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 300px;
  border-radius: 12px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #CCC),
      color-stop(1, #F5F5F5)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #CCC 0%,
      #F5F5F5 100%
  );
}

.hidden {
  display: none;
}

.comment .description a {
  color: #000;
  text-decoration: none;
}

.comment .created_at {
  color: #555;
  font-size: 12px;
  float: right;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

#modal {
  width: 500px;
  position: absolute;
  left: 50%;
  height: 500px;
  z-index: 40000;
  top: 50%;
  margin-top: -250px;
  background: white;
  margin-left: -250px;
}

.login {
  position: absolute;
  width: 245px;
  height: 50px;
  left: 0;
  bottom: 0;
}

.login:hover {
  background: black;
  color: white;
}

.signup {
  position: absolute;
  width: 245px;
  height: 50px;
  right: 0;
  bottom: 0;
}

.signup:hover {
  background: black;
  color: white;
}

.log_in {
  width: 500px;
  position: absolute;
  left: 50%;
  height: 500px;
  z-index: 40000;
  top: 50%;
  margin-top: -250px;
  background: white;
  margin-left: -250px;
}

.login h2 {
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 20px;
}

.signup h2 {
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 20px;
}

.sign_up {
  width: 500px;
  position: absolute;
  left: 50%;
  height: 500px;
  z-index: 40000;
  top: 50%;
  margin-top: -250px;
  background: white;
  margin-left: -250px;
}

.block_out {
  height: 100%;
  width: 100%;
  z-index: 30000;
  background: black;
  opacity: 0.4;
  position: absolute;
}

#modal {
  padding: 38px;
  border: 5px solid black;
}

#modal h1 {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.log_in {
  padding: 38px;
  border: 5px solid black;
}

.log_in h2 {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.sign_up {
  padding: 38px;
  border: 5px solid black;
}

.sign_up h2 {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#modal p {
  line-height: 1.7em;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  text-align: justify;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body .leaflet-bottom {
  display: none;
}

body .leaflet-control-attribution .leaflet-control {
  position: absolute;
  bottom: 0;
}

body .leaflet-control-container {
  width: 200px;
  position: absolute;
  right: 0;
  top: 30px;
}

body .leaflet-right {
  top: -10px;
  right: 40px;
}

body .leaflet-left {
  top: -10px;
  left: 145px;
}


body .leaflet-control-zoom,
body .leaflet-control-layers {
  border: none;
  }
body .leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: #333;
    background: white;
    width: 200px;
    height: 200px;

    }
body .leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
    }
body .leaflet-control-layers label {
    display: block;
    }
body .leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px -10px 5px -6px;
    }

