#map {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
}

#container {
  height: 100%;
  width: 18%;
  z-index: 3000;
  position: absolute;
  top: 2%;
  left: 1%;
}

#user_nav {
  z-index: 3000;
}

html, body {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#users_show {
  position: absolute;
  left: 5%;
  top: 43%;
}

#panel {
  transition: top 1s;
  -webkit-transition: top 1s; /* Safari */
  width: 100%;
  background-color: white;
  height: 57%;
  position: absolute;
  top: 93%;
  z-index: 2000;
}

#panel.panel_show {
  top: 43%;
  position: absolute;
}

#search {
  position: absolute;
  height: 53px;
  width: 50%;
  left: 51%;
}

#search input {
  border: none;
  height: 95%;
  width: 88%;
  outline: none;
  font-size: 1.3em;
}

#menubar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 55px;
}

#menubar #activities {
  width: 25%;
  height: 53px;
  position: absolute;
  left: 25%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#menubar #me {
  width: 25%;
  height: 53px;
  position: absolute;
  left: 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.comment {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 300px;
  border-radius: 12px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #CCC),
      color-stop(1, #F5F5F5)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #CCC 0%,
      #F5F5F5 100%
  );
}

.hidden {
  display: none;
}

.comment .description a {
  color: #000;
  text-decoration: none;
}

.comment .created_at {
  color: #555;
  font-size: 12px;
  float: right;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
