%div#map_float
  %div#map

%div#container
  %div#profilepic
    = image_tag(current_user.image, :id => 'ppic')
  %div#buttons
    %div#button1
      -if current_user.present?
        %p CREATE ACTIVITY
    %div#button2
      -if current_user.present?
        %p SHOW PROFILE
%div#panel
  - if current_user.present?
    = render 'activities_show'


%div#search
  = render 'activities/search'